[submodule "modules/mdlm"]
	path = modules/mdlm
	url = https://github.com/DragonDescentZerotsu/ApexOracle-MDLM.git
[submodule "modules/generation"]
	path = modules/generation
	url = https://github.com/DragonDescentZerotsu/ApexOracle-Generation.git
[submodule "modules/evo2"]
	path = modules/evo2
	url = https://github.com/DragonDescentZerotsu/ApexOracle-Evo2.git
[submodule "modules/dlm_pretrain"]
	path = modules/dlm_pretrain
	url = https://github.com/DragonDescentZerotsu/ApexOracle-DLM-Pretraining.git
[submodule "modules/core"]
	path = modules/core
	url = https://github.com/DragonDescentZerotsu/ApexOracle-Core.git
